@font-face {
    font-family: "openSansRegular";
    font-style: normal;
    font-weight: normal;
    src: url("../../static/fonts/OpenSans-Regular.eot");
    src: url("../../static/fonts/OpenSans-Regular.eot?#iehack") format("eot"),
    url("../../static/fonts/OpenSans-Regular.woff") format("woff"),
    url("../../static/fonts/OpenSans-Regular.ttf")  format("truetype"),
    url("../../static/fonts/OpenSans-Regular.svg#openSansRegular") format("svg");
}


@font-face {
    font-family: "openSansBold";
    font-style: normal;
    font-weight: normal;
    src: url("../../static/fonts/OpenSans-Bold.eot");
    src: url("../../static/fonts/OpenSans-Bold.eot?#iehack") format("eot"),
    url("../../static/fonts/OpenSans-Bold.woff") format("woff"),
    url("../../static/fonts/OpenSans-Bold.ttf")  format("truetype"),
    url("../../static/fonts/OpenSans-Bold.svg#openSansBold") format("svg");;
}